[package]
name = "umya-spreadsheet"
version = "2.0.2"
authors = ["MathNya <umya.net.info@gmail.com>"]
repository = "https://github.com/MathNya/umya-spreadsheet"
keywords = ["excel", "spreadsheet", "xlsx", "reader", "writer"]
license = "MIT"
readme = "README.md"
description = "umya-spreadsheet is a library written in pure Rust to read and write xlsx file."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aes = "0.8.3"
ahash = "0.8.7"
base64 = "0.22.1"
byteorder = "1.5"
cbc = "0.1.2"
cfb = "0.10.0"
chrono = { version = "0.4.31", default-features = false, features = ["clock"] }
encoding_rs = "0.8.33"
fancy-regex = "0.13.0"
getrandom = { version = "0.2.14" }
hashbrown = "0.14.3"
hmac = "0.12.1"
html_parser = "0.7.0"
image = "0.25.0"
lazy_static = "1.4.0"
md-5 = "0.10.6"
regex = "1.10.2"
sha2 = "0.10.8"
thousands = "0.2.0"
quick-xml = { version = "0.35.0", features = ["serialize"] }
zip = { version = "1.1.4", default-features = false, features = ["deflate"] }

[lib]
doctest = false

[features]
js = ["getrandom/js"]
