[package]
name = "umya-spreadsheet"
version = "0.1.6-beta"
authors = ["MathNya <umya.net.info@gmail.com>"]
repository = "https://github.com/MathNya/umya-spreadsheet"
keywords = ["excel", "spreadsheet", "xlsx", "reader", "writer"]
license = "MIT"
license-file = "LICENSE"
readme = "README.md"
description = "umya-spreadsheet is a library written in pure Rust and read and write xlsx file."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quick-xml = { version = "0.17", features = [ "serialize" ] }
zip = "0.5.4"
tempdir = "0.3"
walkdir = "2.3.1"
regex = "1.3.7"
md5 = "0.7.0"
lazy_static = "1.4.0"
