[package]
name = "umya-spreadsheet"
version = "0.9.2"
authors = ["MathNya <umya.net.info@gmail.com>"]
repository = "https://github.com/MathNya/umya-spreadsheet"
keywords = ["excel", "spreadsheet", "xlsx", "reader", "writer"]
license = "MIT"
readme = "README.md"
description = "umya-spreadsheet is a library written in pure Rust and read and write xlsx file."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quick-xml = { version = "0.27", features = [ "serialize" ] }
zip = {version = "0.6.3", default-features = false, features = ["deflate"]}
md-5 = "0.10.1"
lazy_static = "1.4.0"
thousands = "0.2.0"
chrono = {version = "0.4.23", default-features = false, features = ["clock"]}
encoding_rs = "0.8.30"
image = "0.24.5"
hashbrown = "0.13"
ahash = "0.8"
regex = "1.7.0"
fancy-regex = "0.11"

base64 = "0.21"
getrandom = "0.2"
byteorder = "1.4.3"
cfb = "0.7.3"
hmac = "0.12.1"
sha2 = "0.10.6"
aes = "0.8.2"
cbc = "0.1.2"

[lib]
doctest = false
